---
interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800']}>
  <div class="app-footer">
    <div class="app-footer__text">© 2023 SMMart, Inc. All rights reserved.</div>
  </div>
</footer>

<style>
  .app-footer {
    display: flex;
    min-height: 300px;
    background-color: #448aff;
  }

  .app-footer__text {
    color: #fff;
    margin: auto auto 85px auto;
  }
  @media (max-width: 600px) {
    .app-footer {
      min-height: 300px;
    }
    .app-footer__text {
      font-size: 16px;
    }
  }
</style>
