---
import '~/assets/styles/base.css';

import MetaTags from '~/components/common/MetaTags.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

import { MetaSEO } from '~/types';
// import { SITE } from '~/config.mjs';
import { getLangFromUrl } from '~/i18n/utils';

export interface Props {
  meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang} class="2xl:text-[20px]">
  <head>
    <MetaTags {...meta} />
  </head>

  <body class="antialiased text-page tracking-tight">
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
